spring:
  datasource:
    url: jdbc:mysql://localhost:3306/think_drink
    username: root
    password: hjkas1541

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB

  jpa:
    properties:
      hibernate:
        format_sql: 'true'

    show-sql: 'true'
    hibernate:
      ddl-auto: create
